# Our PDFs are all generated
*.pdf

# Emacs files
*~

# macOS
.DS_Store

# Python
.venv
.mypy_cache
__pycache__
*.pyc
*.egg-info

# LaTeX files
book/*/*.tex
book.tex
*.tex
*.aux
*.dvi
*.log
*.out.ps
*.idx
*.ind
*.ilg
latex/Alon*
latex/epigrafica.sty
lgrenc.def

